* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Style CSS */

html,
body {
  height: 100%;
}
body {
  background-image: url(./imgs/background.jpg);
  display: flex;
  flex-direction: column;
}

.dark-mode{
  background-image: none;
  background-color: #363232;
  color: white;
 }

.dark-mode div {
  background-color: #747171;
}

main {
  flex-grow: 1;
}

header {
  min-height: 10dvh;
  text-align: center;
  padding: 1rem;
}

footer {
  margin-top: 1rem;
  min-height: 10dvh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

/* utility */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(226, 238, 237);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon img {
  width: 35px;
  height: 35px;
}

.buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Search */
.search {
  display: flex;
}
.search img {
  width: 35px;
  height: 35px;
}

.search-bar {
  width: 100%;
  font-size: 1.3rem;
}
/* Contact List */
.list {
  width: 100%;
  padding: 0.5rem;
}
.list h4 {
  font-size: xx-large;
  padding: 1.5rem;
}

.profile {
  width: 50px;
  height: 50px;
  border: 2px black solid;
  border-radius: 10rem;
}

/* PopUp styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Popup container */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Info Popup */
.flex-popup {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 15px;
}

.flex-popup span {
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
}

/* Edit Contact popup */
.edit-form {
  padding: 15px;
  text-align: left;
}
.edit-form div{
  display: flex;
  flex-direction: column;
}

.edit-form textarea {
  width: 100%;
}

.edit-form input {
  width: 100%;
}
.edit-form label {
  font-size: x-large;
  font-weight: bolder;
}
/* הופעת איפקט נוסף לדף */
@keyframes backgroundColorChange {
  0% {
    background-color: #ff6347; 
  }
  50% {
    background-color: #4682b4; 
  }
  100% {
    background-color: #32cd32;
  }
}
/* הפעלת האיפקט */
.animated-background {
  background-image: none;
  animation: backgroundColorChange 5s infinite;
}
/* בלחיצה על רשומה כלשהיא יופיע צבע ברקע */
li:hover {
  background-color: rgb(183, 183, 183);
}
