* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(./imgs/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  header {
    min-height: 10dvh;
    text-align: center;
    padding: 1rem;
  }

  footer {
    margin-top: 1rem;
    min-height: 10dvh;
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
  }

  .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 238, 237);

  }

  .search{
    display: flex;
  }
  .search img {
    width: 35px;
    height: 35px;
  }

  .search-bar {
    width: 100%;
    font-size: 1.3rem;
  }


  .profile {
    width: 35px;
    height: 35px;
    border: 2px black solid;
    border-radius: 10rem;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon{
    border: none;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .icon img{
    width: 35px;
    height: 35px;
  }
  
  .buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .list {
    width: 100%;
    padding: 0.5rem;
  }
  
  
  .list h4{
    font-size: xx-large;
    padding: 1.5rem;
  }


  /* PopUp styles */
  .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      position: relative;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flex-popup{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
